TURSO_DATABASE_URL=libsql://your-db-username.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOi...
APP_PASSWORD=admin
OPENROUTER_API_KEY=sk-or-v1-...
OPENROUTER_MODEL=openai/gpt-4o-mini


# Для локальной разработки можно скопировать в .env
# cp .env.example .env
